body{
    margin: 0;
    padding: 0;
    background-color: #eee;
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

/* nav{
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 255, 136);
    padding: 10px;
    margin-bottom: 0px;
    background-color: rgb(156, 151, 151);
    font-family: Verdana;
    font-weight: bolder;
    font-size: large;
    font-style:normal;
    color: #000;  
    height: 50px;
    position: ;
} */
nav{
    height: 67px;
    width: 100%;
    background-color: rgb(109, 145, 74);
    padding-bottom: 0.1%;
}
nav span.nav_links{
    padding-top: 1.5%;
   float: right;
   margin-right: 5%;
}
nav span{
    float: left;
    margin-left: 5%;
    padding-top: 1.7%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}
nav a{
    padding-right: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #000;
}

main{
    text-align: center;
}

header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
    font-variant: normal;
}
.categories{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 700;
    font-variant: normal;
}

main div span span{
    float: left;
    border: #eeeae9;
    border-style: solid;
    border-width: 1px;
    width: 300px;
    height: 400px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
main div span span{
    background-color: #fff;
}
